@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Source+Sans+Pro&display=swap');

body {
    padding: 0;
    margin: 0;
    background: #f4f4f4
}

.navbar {
    background-color: #93c178;
}

.text-nav {
    font-family: "Montserrat" 'Times New Roman', Times, serif;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    padding-left: 15px;
}
.lead-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-item {
    box-shadow: 4px 4px 4px 4px grey;
}

.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.p-text {
    font-size: 10px;
    color: #000;
    font-weight: bold;
}

.flashes {
    line-height: 2;
    background-color: #ff533d;
    padding: 4px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px;
}

.card-header {
    background: #a9b7c0;
    margin: 0;
   }

.card-footer {
    background-color: #f5f1f2d3;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 1px;
}
.list_title {
   font-size: 1.6rem;
   font-weight: 700;
   letter-spacing: 1.2px;
}
 
.sold {
    color: #fff;
    background-color: red;
    padding: 5px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 2px 3px;
} 

.sale {
    color: #fff;
    background-color: limegreen;
    padding: 5px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 2px 3px;
}

.signs {
    padding: 6px;
}

.edit {
    background-color: #a239ca;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    width: 80px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 2px 3px;
    text-decoration: none;
    border: lightgray 2px solid;
    font-family: "Source Sans Pro", 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.delete {
    background-color: #000;
    font-weight: bold;
    color: #fff;
    padding: 5px;
    width: 80px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 2px 3px;
    text-decoration: none;
    border: lightgray 2px solid;
    font-family: "Source Sans Pro", 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.edit-here {
    background-color: #ebdfdf;
    padding: 5px;
    font-family: "Source Sans Pro", 'Times New Roman', Times, serif;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 2px 3px;
    border-radius: 7px;
    font-weight: bold;
}

.info-img{
    display: flex;
    flex-direction: row;
}

.img-cntr {
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-thumbnail {
    height: 150px;
    width: 150px;
}