@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Source+Sans+Pro&display=swap');

body {
    padding: 0;
    margin: 0;
    background: #f4f4f4
}

.navbar {
    background-color: #93c178;
    box-shadow: 0 4px 4px rgba(73, 20, 20, 0.932);
}

.text-nav {
    font-family: "Montserrat" 'Times New Roman', Times, serif;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}   

.navbar-brand {
    font-size: 2rem;
    padding-left: 15px;
}

.lead-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-item {
    box-shadow: 4px 4px 4px 4px grey;
}

.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.p-text {
    font-size: 10px;
    color: #000;
    font-weight: bold;
}

.flashes {
    line-height: 2;
    background-color: #ff533d;
    padding: 4px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.918) 5px 5px 5px;
 }

.flashes h4 {    
     font-weight: bolder;
}

.card-header {
    background: #a9b7c0;    
    box-shadow: 2px 4px 4px #373738;
   }

.card-footer {
    background-color: #f5f1f2d3;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 1px;
}
.list_title {
   font-size: 1.6rem;
   font-weight: 700;
   letter-spacing: 1.2px;
}
 
.home-header {
    display: flex;
    flex-direction: row;
}


.hdr-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.sold {
    color: #fff;
    background-color: red;
    padding: 5px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 2px 3px;
} 

.sale {
    color: #fff;
    background-color: limegreen;
    padding: 5px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 2px 3px;
}

.signs {
    padding: 6px;
    }

.edit {
    background-color: #a239ca;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    width: 80px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 2px 3px;
    text-decoration: none;
    border: grey 1px solid;    
    letter-spacing: 1px;
    border-radius: 5px;
    transition: .5s;
}

.edit:hover {
    box-shadow: 2px 5px 5px 0 #93c178 ;
}

.delete {
    background-color: navy;
    font-weight: bold;
    color: #fff;
    padding: 5px;
    width: 80px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 2px 3px;
    text-decoration: none;
    border: grey 1px solid;   
    letter-spacing: 1px;
    border-radius: 5px;
    transition: .5s;
}

.delete:hover {
    box-shadow: 2px 5px 5px 0 #93c178 ;
}

.edit-here {
    width: 80%;   
    padding: 5px 10px;
    font-family: "Source Sans Pro", 'Times New Roman', Times, serif;    
    font-weight: bold;
}


.btn-1a {   
    box-shadow: rgba(0, 0, 0, 0.55) 2px 2px 2px;
    border: 2px solid grey;
}

.btn-1a:hover {
    border: 2px solid darkgray;
    box-shadow: 0 5px 10px 0 #3a3a36 ;
}

.info-img{
    display: flex;
    flex-direction: row;
}

.img-cntr {
    display: flex;
    align-items: center;
    justify-content: center;  
    padding: 12px;  
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.55)  2px 1px 2px;
}

.img-thumbnail {
    height: 250px;
    width: 250px;
    box-shadow: 0 4px 4px rgba(73, 20, 20, 0.932);
}

.carousel {
    box-shadow: rgba(0, 0, 0, 0.85) 10px 5px 15px;
    max-width: 50vw;    
    
}

.car-col {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
}
.form-check {
    padding: 3px;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

@media only screen and (max-width: 600px) {


.flashes h4 {    
     font-size: 0.8rem;
}
.navbar-brand {
    font-size: 1.4rem;
    padding-left: 15px;
}

.prof-inner {
    padding-right: 0;
}
.prof-box {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.profile-set {
    font-size: 1rem;
}

.card-header {    
    height: 90px;
}

p {
    font-size: 60%;
}

.txt-1 {
    font-size: 1rem;
    padding: 3px;
}
.sale {
    font-size: .6rem;
    width: 50px;
    letter-spacing: 1px;   
    font-weight: bolder;
    }

.signs {
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list_title {
    font-size: 1.2rem;
    letter-spacing: normal;
}

.delete {
    font-size: .6rem;
    width: 50px;
    letter-spacing: 1px;
    padding: 2px;
}
.edit {
    font-size: .6rem;
    width: 50px;
    letter-spacing: 1px;
    padding: 2px;
}

.btn-1a {
    font-size: 0.8rem;
    padding: 2px 3px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 2px 2px;
}

.edit-here {
    font-size: 1rem;
    padding: 4px;
   
}


.lead-img {
    margin: 0;
}

.footer-text {
    font-size: 0.75rem;
}

.card-col {
    padding: 0;
}
.img-thumbnail {
    height: 125px;
    width: 125px;
    box-shadow: 0 4px 4px rgba(73, 20, 20, 0.932);
}

}