@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Source+Sans+Pro&display=swap');

.navbar {
    background-color: #caebf2;
}

.lead-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-item {
    box-shadow: 4px 4px 4px 4px grey;
}