<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Finder</title>
</head>
<body>
    
    {% for home in homes %}
        
            <span>Property Type:<strong class="red-text text-darken-4"> {{ home.category_name }}</strong> </span>
            <p>Description:<strong class="red-text text-darken-4"> {{ home.list_description }}</strong></p>
            <p>Bedrooms:<strong class="red-text text-darken-4"> {{ home.list_bedrooms }}</strong></p>
            <p>Price:<strong class="red-text text-darken-4"> €{{ home.list_price }}</strong></p>
    {% endfor %}

</body>
</html>