{% extends 'base.html' %}

{% block content %}

<!-- Create BS5 Card to contain Form for Logging In -->



<div class="row">
    
    <div class="col col-6 offset-3 card mt-5 s-12 bg-light card-shadow">
        <p class="text-center  pt-2">If you haven't registered yet? <a href="{{ url_for('register') }}" class="text-danger">Register Here</a></p>
    </div>

    <div class=" col-6 offset-3 card mt-5 card-shadow">
        <h5 class="fs-3 pt-3">Log In</h5>
        <div class="card-body">

            <h6 class="card-text mb-2 text-muted">Please register below to begin advertising with us.</h6>
            <p class="p-text">(Usernames and passwords : upper & lower case letters & numbers, between 5 & 15 characters
                length please)</p>
            <form  action="{{ url_for('login') }}" method="POST">

                <!-- username input -->
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text col-1.5" id="inputGroup-sizing-sm">Username:</span>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate form-control" required>
                    <label for="username"></label>
                    </div>
                    <!-- password input -->
                    <div class="input-group input-group-sm mb-3 form-spacing">
                        <span class="input-group-text col-1.5" id="inputGroup-sizing-sm">Password : </span>

                        <input id="password" name="password" type="password" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate form-control" required>
                        <label for="password"></label>
                        </div>
                        <!-- button -->
                        <div class="class"><button type="submit" class="text-shadow">
                                Log In
                            </button>
            </form>

        </div>
    </div>
</div>


<div class=" row lead-img">
    
<div class="col-sm-12 col-md-6 mt-4 img-holder">
<img src="../static/img/img4a.jpg" class="img-item mb-4" alt="house for sale">
</div>

</div>


{% endblock %}