{% extends 'base.html' %}

{% block content %}

<!-- Row of images -->
<div class="row mt-3">
    <div class="col-sm-3 "></div>
    <div class="min-vh-100 gallery ">
        <div class="container-lg">
            <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                <div class="col">
                    <img src="{{ home.list_image1 }}" class="gallery-item" >
                </div>
                <div class="col">
                    <img src="{{ home.list_image2 }}" class="gallery-item" >
                </div>
                <div class="col">
                    <img src="{{ home.list_image3 }}" class="gallery-item" >
                </div>
            </div>
        </div>   
<!-- Modal -->
<div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dailog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
         <h5 class="modal-title">Property Gallery</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">                        
        <img src="{{ home.list_image1 }}" class="modal-img" alt="property for sale" >             
        </div>
        <div class="modal-body">                        
        <img src="{{ home.list_image2 }}" class="modal-img" alt="property for sale" >             
        </div>
        <div class="modal-body">                        
        <img src="{{ home.list_image3 }}" class="modal-img" alt="property for sale" >             
        </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
      

<!--  Card Section for Each Entry -->
 <div class="row md-12 m-3">

<div class="card text-center card-shadow g-0">
  <div class="card-header row g-0">
      <div class="col-sm-3"></div>
     <h6 class="list_title align-self-center col-6">{{ home.category_name }}  </h6>
     <div class="col-3 list-sider text-break"></div>
  </div>
  <div class="card-body">
    <h5 class="card-title txt-1">{{ home.list_title }} </h5>
    <div class="signs">
          
        {% if home.sale_sold == "on" %}
                <h3 class=" sold">Sold!</h3>
                {% else %}
                <h3 class="sale">For Sale!</h3>
                {% endif %}
            
            </div>
    <p class="card-text txt-2">{{ home.list_description }}</p>
    <p class="card-text txt-3">{{ home.list_bedrooms }} Bedrooms</p>
    <p class="card-text txt-4">€{{ home.list_price }}</p>
    <p class="card-text txt-2">{{ home.sold_by }}</p>
    </div>
  <div class="card-footer text-muted">
    Page added by: {{ home.created_by }}
  </div>
</div>
</div>

 </div>
<div class="col-sm-3"></div>


</div> 

{% endblock %}

 