{% extends 'base.html' %}

{% block content %}


<div class="row mt-3">
    <div class="col-sm-3 "></div>
    <div class="col-sm-6 col-md-12 car-col ">
    

<!-- Carousel for 3 Image URLs -->

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ home.list_image1 }}" class="d-block w-100 rounded-2" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ home.list_image2 }}" class="d-block w-100 rounded-2" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ home.list_image3 }}" class="d-block w-100 rounded-2" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--  Card Section for Each Entry -->
 <div class="row md-12 m-3">

<div class="card text-center card-shadow g-0">
  <div class="card-header row g-0">
      <div class="col-3 signs">
          
        {% if home.sale_sold == "on" %}
                <div class=" border border-dark border-1 rounded sold">Sold!</div>
                {% else %}
                <div class="sale border border-dark border-1 rounded">For Sale!</div>
                {% endif %}
            
            </div>
     <h6 class="list_title align-self-center col-6">{{ home.category_name }}  </h6>
     <div class="col-3"></div>
  </div>
  <div class="card-body">
    <h5 class="card-title txt-1">{{ home.list_title }} </h5>
    <p class="card-text txt-2">{{ home.list_description }}</p>
    <p class="card-text txt-3">{{ home.list_bedrooms }} Bedrooms</p>
    <p class="card-text txt-4">{{ home.list_price }}</p>
    <p class="card-text txt-2">{{ home.sold_by }}</p>
    </div>
  <div class="card-footer text-muted">
    Page added by: {{ home.created_by }}
  </div>
</div>
</div>

 </div>
<div class="col-sm-3"></div>


</div> 

{% endblock %}

 